<h2><b>My Heroes</b></h2>

<ul class="heroes">
    <!-- The class selected bit changes the class based on a condition. === are weird... -->
    <li *ngFor="let hero of heroes" (click)="onSelect(hero)" [class.selected]="hero === selectedHero">
         <!-- <app-hero-list-item [hero]="hero"></app-hero-list-item> This is the part i added that stopped working after adding services. the line below is the original. -->
        <span class="badge">{{hero.id}}</span> {{hero.name}}
    </li>
</ul>

<app-hero-detail [hero]="selectedHero"></app-hero-detail>












<!-- <h2><b>{{hero.name | uppercase}} Details</b></h2>  -->
<!--uppercase thing kinda breaks it doesnt work -->
<!-- <h2><b>{{hero.name}} Details</b></h2>  -->
<!-- <div><span>id: </span>{{hero.id}}</div> -->
<!-- <div><span>name: </span>{{hero.name}}</div> -->

<!-- <div>s -->
<!-- I think what happens here is it binds hero.name to a new var called 'name'-->